@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-navy text-lightgray font-sans;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background: #0a1026;
}
::-webkit-scrollbar-thumb {
  background: #23272f;
  border-radius: 8px;
} 